body {
  background-color: #ffff99;
}

.mainCanvas {
  padding: 0;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f27059;
}

#shopClose {
  padding: 0;
  margin: 0;
  position: absolute;
  display: block;
  background-image: url("images/backbutton.png");
  background-size: 50% 50%;
  background-repeat: no-repeat;
  visibility: hidden;
}

#nextShop {
  background-image: url("images/rightarrow.png");
}

#backShop {
  background-image: url("images/leftarrow.png");
}

#infoButton {
  padding: 0;
  margin: 0;
  position: absolute;
  display: block;
  background-image: url("images/info_button.png");
  background-size: 50% 50%;
  background-repeat: no-repeat;
}

.cookieClicker {
  padding: 0;
  margin: 0;
  position: absolute;
  display: block;
  background-image: url("images/cookie.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  visibility: hidden;
}

.shopPage {
  padding: 0;
  margin: 0;
  position: absolute;
  display: block;
  visibility: hidden;
  background-repeat: no-repeat;
  background-size: 50% 50%;
}

.menuButton {
  padding: 0;
  margin: 0;
  position: absolute;
  display: block;
  background-color: #4B0082;
  border: 2px groove yellow;
}

.buyButton {
  padding: 0;
  margin: 0;
  position: absolute;
  display: block;
  background-color: #87CEEB;
  border: 2px groove orange;
  visibility: hidden;
}

.useButton {
  padding: 0;
  margin: 0;
  position: absolute;
  display: block;
  background-color: #D3D3D3;
  border: 2px groove #A52A2A;
  visibility: hidden;
}
